
body {
  font-family: 'Helvetica';
  /*height: 100%;
  margin: 0;*/
  padding-top: 54px;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

h1 {
  color: #003e92;
}

/* .container {
	display: flex;
	flex-direction: column;
} */

.main-and-sidebar-wrapper {
    display: flex;
    flex-direction: row;
}

.main {
	flex: 4;
	margin-right: 30px;
}

.sidebar {
	flex: 2;
}

@media (max-width: 1100px) {
    .main-and-sidebar-wrapper {
        flex-direction: column;
    }

    .main {
        margin-right: 0;
        margin-bottom: 60px;
    }
}

/* header {
	display: flex;
	justify-content: space-between;
	background-color: #f1f1f1;
} */

/* header nav {
	display: flex;
	align-items: baseline;
} */

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
@media (min-width: 1200px) {
  body {
    padding-top: 85px;
    /* padding: 70px; */
    /* margin-top: 10px; */
  }
}
/*  banner image*/
/* .banner-header {
  height: 30vh;
  min-height: 350px;
  width: 100%; 
  height: 179px;  
  background: url('images/banner-hands.jpg') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin: 0 150px 0 150px; 
} */

/*  banner image interior page*/
.bg_interior_page {
	  /*position: relative;*/
	  margin-top: 5px;
    height: 50%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Bottom right text */
.text-block {
    position: absolute;
    bottom: 20px;
    left: 120px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;

}

.blue {
  /*color: #3366ff;*/
  color: #0000A0
}
.red {
	color: #f44842;
  /*color: $darkOrange;*/
}
.blue-title {
    color: #003e92;
}
.div-home-blue {
  /*background-color: #3366ff;*/
  background-color: #0000A0;
}
.btn {
	font-size: 20px;
}

.button-red {
	color: white;
	/* background-color: #f44842; */
  background-color: @darkOrange;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button-red:hover {
    background-color: red; 
    color: white;
}
.button-blue {
	color: white;
	background-color: #3366ff;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button-red-home {
	color: white;
  background-color: #f44842;
  height: 35px;
  width: 280px;
  padding: 3px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button-red-home:hover {
  opacity: 0.7; 
  color: white;
}
.button-login-home {
	color: #3366ff;
  font-weight: bold;
  font-size: 23px;
  height: 45px;
  width: 120px;
  padding: 3px 3px 0px 20px;
  border: 1px solid #3366ff;
  border-radius: 5px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button-login-home:hover {
  opacity: 0.7; 
  color: white;
  background-color: blue;
  text-decoration: none;
}
.button-dark-blue {
  color: white;
  background-color: #003e92;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button-blue:hover {
    background-color: blue; 
    color: white;
}

/*   main menu */

.container-main-menu {
  display: flex;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
/* .navbar {
   margin-bottom: 0;
   border-radius: 0;
} */

.nav-link {
	/* color: #f44842; */
  color: darkOrange; 
  font-size: 24px;
  font-weight: bold;
  /*padding-left: 60px;*/
}

/* .navbar-brand {
  color: #f44842 !important;
} */

.titulo-imagen {
	position: absolute;	
	top: -22px;
}
.titulo-imagen p {
	/*background: #f44842;
	color: white; */
	border-radius: 3px;	
}

 /* Add a gray background color and some padding to the footer */
 footer {
   background-color: #f2f2f2;
   padding: 25px;
 }

.link-footer {
  font-size: 22px;
} 

/*   video front page  */
.video { 
  position: relative; 
  padding-bottom: 450px; /* 16:9 */ 
  height: 0; 
}
.video img { 
	position: absolute;
	display: block;
  /* top: 0px;  */
  bottom: 25px;
	left: 10px; 
	width: 90%; 
	height: 100%; 
	z-index: 20; 
	cursor: pointer; 
}
.video:after { content: ""; position: absolute; display: block; 
    top: 45%; left: 45%; width: 46px; height: 36px; z-index: 30; cursor: pointer; } 
.video iframe { position: absolute; top: 0px; left: 5px; width: 100%; height: 100%; }

/* image poster clicked, player class added using js */
.video.player img { display: none; }
.video.player:after { display: none; }

/* button in the middle of the video image */
/* .video .btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f44842;
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  z-index: 10;
} */
.video .btn:hover {
  background-color: red;
}

/*   Images Menu Overlay   */
.container-img {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #f44842;
}

.container-img:hover .overlay {
  opacity: 0.7;
}

.text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*  Blog page */
.post-item {
  border-bottom: 1px dotted #DEDEDE;
  padding-bottom: 1.7rem;
  margin-bottom: 1.7rem;
}

.post-item:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.headline--post-title a {
  color: #0D3B66;
  text-decoration: none;
}

.headline--post-title a:hover {
  text-decoration: underline;
}

.metabox {
  background-color: #3366ff;
  color: white;
  border-radius: 3px;
  padding: 10px 15px;
  display: inline-block;
  margin-bottom: 30px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, .07);

}

.metabox p {
  margin: 0;
  font-size: .9rem;
  /*color: rgb(168, 146, 56);*/
}

.metabox a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.metabox a:hover {
  text-decoration: underline;
}

.headline {
  margin: 0;
  font-weight: 300;

}

.headline--medium {
  font-size: 1.9rem;
  margin-bottom: .75rem;
}

@media (min-width: 530px) {

  .headline--medium {
    font-size: 3.125rem;
  }
}

.headline--small {
  font-size: 1.2rem;
  margin-bottom: 1.9rem;
}

@media (min-width: 530px) {

  .headline--small {
    font-size: 1.6875rem;
  }
}

/* join in button effect */
#btn-join span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#btn-join span:after {
  content: '\21E2 \25B6';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#btn-join:hover span {
  padding-right: 25px;
}

#btn-join:hover span:after {
  opacity: 1;
  right: 0;
}


